@page "/instructorLessonCounts"
@using System.Net.Http.Json
@using System.Text.Json
@using System.Xml.Serialization
@using System.Text
@using Mapster
@using SkiResort.Frontend.Presentation.Services
@inject IHttpApiClientFactory HttpApiClientFactory
@inject IJSRuntime JsInterop
@inject NavigationManager NavigationManager
@inject SessionStorageAccessor _sessionStorage;

<h3>InstructorLessonCountModels</h3>

@if (instructorLessonCounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="export-buttons">
        <button class="btn btn-success" style="margin-left: 3px;" @onclick="ExportAsCsv">CSV</button>
        <button class="btn btn-info" style="margin-left: 3px;" @onclick="ExportAsXml">XML</button>
        <button class="btn btn-warning" style="margin-left: 3px;" @onclick="ExportAsJson">JSON</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Instructor Id</th>
                <th>First Name</th>
                <th>Count of Lessons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instructorLessonCount in instructorLessonCounts)
            {
                <tr>
                    <td>@instructorLessonCount.InstructorId</td>
                    <td>@instructorLessonCount.FirstName</td>
                    <td>@instructorLessonCount.CountOfLessons</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private SkiResortApiClient? skiResortApiClient;
    private List<InstructorLessonCountModel>? instructorLessonCounts;
    public string name = default;
    public string role = default;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            name = await _sessionStorage.GetValueAsync<string?>("name");
            role = await _sessionStorage.GetValueAsync<string?>("role");
            skiResortApiClient = await HttpApiClientFactory.GetSkiResortApiHttpClientAsync();
            instructorLessonCounts = await LoadData();
            await skiResortApiClient.UserLogAsync(new UserLogModel()
                {
                    UserName = name,
                    Page = "/instructorLessonCounts"
                });
        }
        catch (Exception ex) { };
    }

    private async Task<List<InstructorLessonCountModel>> LoadData()
    {
        return (await skiResortApiClient!.InstructorLessonsCountGetAllAsync()).ToList();
    }

    private async Task ExportAsCsv()
    {
        var csvData = GenerateCsv(instructorLessonCounts);
        await SaveAsFile("instructorLessonCounts.csv", csvData);
    }

    private async Task ExportAsXml()
    {
        var xmlData = GenerateXml(instructorLessonCounts);
        await SaveAsFile("instructorLessonCounts.xml", xmlData);
    }

    private async Task ExportAsJson()
    {
        var jsonData = JsonSerializer.Serialize(instructorLessonCounts);
        await SaveAsFile("instructorLessonCounts.json", jsonData);
    }

    private string GenerateCsv(List<InstructorLessonCountModel> instructorLessonCounts)
    {
        var stringBuilder = new StringBuilder();
        stringBuilder.AppendLine("InstructorId,FirstName,CountOfLessons");

        foreach (var instructorLessonCount in instructorLessonCounts)
        {
            stringBuilder.AppendLine($"{instructorLessonCount.InstructorId},{instructorLessonCount.FirstName},{instructorLessonCount.CountOfLessons}");
        }

        return stringBuilder.ToString();
    }

    private string GenerateXml(List<InstructorLessonCountModel> instructorLessonCounts)
    {
        var xmlSerializer = new XmlSerializer(typeof(List<InstructorLessonCountModel>));
        using var stringWriter = new StringWriter();
        xmlSerializer.Serialize(stringWriter, instructorLessonCounts);
        return stringWriter.ToString();
    }

    private async Task SaveAsFile(string filename, string data)
    {
        await JsInterop.InvokeVoidAsync("saveAsFile", filename, data);
    }
}