@page "/roles"
@using System.Net.Http.Json
@using System.Text.Json
@using System.Xml.Serialization
@using System.Text
@using SkiResort.Frontend.Presentation.Services
@inject IHttpApiClientFactory HttpApiClientFactory
@inject IJSRuntime JsInterop
@inject NavigationManager NavigationManager
@inject SessionStorageAccessor _sessionStorage;

<h3>Roles</h3>

@if (roles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="export-buttons">
        <input type="text" placeholder="Search..." @bind="req.Filter" @bind:event="oninput" @onkeyup="ApplyFilter" />
        <button class="btn btn-success" style="margin-left: 3px;" @onclick="ExportAsCsv">CSV</button>
        <button class="btn btn-info" style="margin-left: 3px;" @onclick="ExportAsXml">XML</button>
        <button class="btn btn-warning" style="margin-left: 3px;" @onclick="ExportAsJson">JSON</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => ApplySorting(nameof(RoleDto.Id))">Id</th>
                <th @onclick="() => ApplySorting(nameof(RoleDto.RoleName))">RoleName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.RoleName</td>    
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteRole(role)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (req.PageIndex != 1)
    {
        <div class="d-flex justify-content-center align-items-center mt-3">
            <button class="btn btn-primary btn-lg m-2" @onclick="LoadPrevious">
                <i class="fas fa-chevron-left"></i>
            </button>

            <span class="mx-3">@req.PageIndex</span>

            <button class="btn btn-primary btn-lg m-2" @onclick="LoadNext">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    }
    else
    {
        @if (roles.Count() == req.PageSize)
        {
            <div class="d-flex justify-content-center align-items-center mt-3">
                <button class="btn btn-primary btn-lg m-2" @onclick="LoadPrevious">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <span class="mx-3">@req.PageIndex</span>

                <button class="btn btn-primary btn-lg m-2" @onclick="LoadNext">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        }
    }
}

@code {
    private SkiResortApiClient? skiResortApiClient;
    private RoleDto selectedRole = new RoleDto();
    private List<RoleDto>? roles;
    private int seedDataCount;
    public string name = default;
    public string role = default;

    private PaginationSortingRequest req = new PaginationSortingRequest
        {
            PageIndex = 1,
            PageSize = 10,
            SortBy = nameof(RoleDto.Id),
            Ascending = true,
            Filter = "",
        };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            name = await _sessionStorage.GetValueAsync<string?>("name");
            role = await _sessionStorage.GetValueAsync<string?>("role");
            skiResortApiClient = await HttpApiClientFactory.GetSkiResortApiHttpClientAsync();
            roles = await LoadData(req);
            await skiResortApiClient.UserLogAsync(new UserLogModel()
                {
                    UserName = name,
                    Page = "/roles"
                });
        }
        catch (Exception ex) { };
    }

    private async Task<List<RoleDto>> LoadData(PaginationSortingRequest req)
    {
        return (await skiResortApiClient!.RoleGetPaginatedSortedAsync(req)).ToList();
    }

    private async Task UpdateRole(RoleDto role)
    {
        NavigationManager.NavigateTo($"/role-update/{role.Id}", true);
    }

    private async Task DeleteRole(RoleDto role)
    {
        var confirmed = await JsInterop.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {role.RoleName}");
        if (confirmed)
        {
            await skiResortApiClient.RoleDELETEAsync(role);
            roles.Remove(role);
        }
    }

    private async Task CreateRole()
    {
        NavigationManager.NavigateTo("/add-role", true);
    }

    private async Task ImportJson()
    {
        var jsonData = await JsInterop.InvokeAsync<string>("uploadFile");
        if (!string.IsNullOrEmpty(jsonData))
        {
            var newRoles = JsonSerializer.Deserialize<List<RoleDto>>(jsonData);
            if (newRoles != null)
            {
                foreach (var role in newRoles)
                {
                    await CreateRoleFromJson(role);
                }
                roles = await LoadData(req);
            }
        }
        NavigationManager.NavigateTo("/roles", true);
    }

    private async Task CreateRoleFromJson(RoleDto role)
    {
        var roleDto = new CreateRoleDto()
            {
                RoleName = role.RoleName,
            };

        await skiResortApiClient!.RolePOSTAsync(roleDto);
    }


    private async Task LoadNext()
    {
        PaginationSortingRequest reqTemp = new PaginationSortingRequest
            {
                PageIndex = req.PageIndex + 1,
                PageSize = req.PageSize,
                SortBy = req.SortBy,
                Ascending = req.Ascending,
                Filter = req.Filter,
            };

        var res = await LoadData(reqTemp);

        if (res is null || res.Count() == 0)
        {
            return;
        }

        req.PageIndex++;
        roles = res;
    }

    private async Task LoadPrevious()
    {
        if (req.PageIndex > 1)
        {
            req.PageIndex--;
            roles = await LoadData(req);
        }
    }

    private async Task ApplySorting(string columnName)
    {
        if (req.SortBy == columnName)
        {
            req.Ascending = !req.Ascending;
        }
        else
        {
            req.SortBy = columnName;
            req.Ascending = true;
        }

        roles = await LoadData(req);
    }

    private async Task ApplyFilter(KeyboardEventArgs args)
    {
        req.PageIndex = 1;
        roles = await LoadData(req);
    }

    private async Task ExportAsCsv()
    {
        var csvData = GenerateCsv(roles);
        await SaveAsFile("roles.csv", csvData);
    }

    private async Task ExportAsXml()
    {
        var xmlData = GenerateXml(roles);
        await SaveAsFile("roles.xml", xmlData);
    }

    private async Task ExportAsJson()
    {
        var jsonData = JsonSerializer.Serialize(roles);
        await SaveAsFile("roles.json", jsonData);
    }

    private string GenerateCsv(List<RoleDto> roles)
    {
        var stringBuilder = new StringBuilder();
        stringBuilder.AppendLine("Id,RoleName");

        foreach (var role in roles)
        {
            stringBuilder.AppendLine($"{role.Id},{role.RoleName}");
        }

        return stringBuilder.ToString();
    }

    private string GenerateXml(List<RoleDto> roles)
    {
        var xmlSerializer = new XmlSerializer(typeof(List<RoleDto>));
        using var stringWriter = new StringWriter();
        xmlSerializer.Serialize(stringWriter, roles);
        return stringWriter.ToString();
    }

    private async Task SaveAsFile(string filename, string data)
    {
        await JsInterop.InvokeVoidAsync("saveAsFile", filename, data);
    }
}