@using SkiResort.Frontend.Presentation.Services
@inject NavigationManager NavigationManager
@inject SessionStorageAccessor _sessionStorage;


@if (name is not null)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">SkiResort</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="clients">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clients
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="slopes">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Slopes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weatherReports">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather Reports
                </NavLink>
            </div>
            <div class="container-fluid">
                <a class="navbar-brand" href="">Statistics</a>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="clientEventCounts">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Client Events
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="instructorLessonCounts">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Instructor Lessons
                </NavLink>
            </div>
            @if (role == "admin")
            {
                <div class="container-fluid">
                    <a class="navbar-brand" href="">Administrating</a>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="roles">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Roles
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="databaseLogs">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Database Logs
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="userLogs">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users Logs
                    </NavLink>
                </div>
            }
        </nav>
    </div>
}

@code {
    public string name = default;
    public string role = default;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            name = await _sessionStorage.GetValueAsync<string?>("name");
            role = await _sessionStorage.GetValueAsync<string?>("role");
        }
        catch (Exception ex) { };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        name = await _sessionStorage.GetValueAsync<string?>("name");
        role = await _sessionStorage.GetValueAsync<string?>("role");

        if (role is null)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}